/* LOADER */
.lds-roller-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0EB4C1;
}
.lds-roller-wrapper--none {
display: none;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #DE2E54;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* GLOBAL */

*{
  box-sizing: border-box
}

body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
  background-color: white;
}

*:focus{
  outline: 2px dashed #DE2E54;
  outline-offset: 2.5px;
  border-radius: 12px;
}

html{
  scroll-behavior: smooth;
}

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}


/* SITE-HEADER */
.site-header{
padding-top: 24px;
padding-bottom: 24px;
}

.site-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo{
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 24px;
  color: #222;
}

.site-logo:hover{
  color: #DE2E54;
}

.site-logo:active{
  opacity: 0.6;
}

.site-logo-img{
  margin-right: 16px;
  border-radius: 50%;
}


/* SITENAV */
.site-nav{
font-size: 14px;
letter-spacing: 2px;
text-transform: uppercase;
font-weight: bold;
}

.sitenav-list{
display: flex;
align-items: center;
padding: 0;
margin: 0;
list-style: none;
}

.sitenav-item:not(:last-child){
  margin-right: 32px;
}

.sitenav-link {
  display: block;
  color: #222;
  text-decoration: none;
}

.sitenav-link:hover{
  color:#DE2E54;
}

.sitenav-link:active{
  opacity: 0.6;
}


/* MAIN-LINK */
.main-link{
  display: inline-block;
text-align: center;
  padding: 10px 22px;
  border: 2px solid #DE2E54;
  border-radius: 8px;
  text-decoration: none;
  background-color: #DE2E54;
  color: white;
  font-family: 'Open Sans Condensed', 'Open Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
}

.main-link:hover{
  border-color: #DE2E54;
  background-color: white;
  color: #DE2E54;
}

.main-link:active{
  background-color: #DE2E54;
  color: white;
  opacity: 0.6;
}

.main-link-solid:hover{
  background-color: rgba(222, 46, 84, 0.8);
  border-color: transparent;
  color: white;
}

.main-link-solid:active{
  background-color: rgba(222, 46, 84, 0.6);
  opacity: 1;
}

.main-link-outline{
color: #fff;
background-color: transparent;
border-color: #fff;
}

.main-link-outline:hover{
  background-color: #DE2E54;
  color: #fff;
  border-color: transparent;
}
/* HERO */
.hero{
  background-color: #0EB4C1;
  color: white;
}

.hero-container{
  display: flex;
  justify-content: space-between;
}

.hero-img{
  align-self: flex-end;
}

.hero-content{
  width: 500px;
padding-top: 120px;
padding-bottom: 120px;
}

.hero-heading {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: 'Open Sans Condensed', 'Open Sans', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 1.2;
}

.hero-text{
width: 440px;
margin-top: 0;
margin-bottom: 36px;
}

.index-services{
  padding-top: 120px;
  padding-bottom: 120px;
}

.index-services-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.index-services-heading{
  margin-top: 0;
  margin-bottom: 56px;
  text-align: center;
  font-family: 'Open Sans Condensed', 'Open Sans', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  color: #000;
}

.index-services-list{
  width: 864;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 60px;
}

.index-services-item:not(:last-child){
  margin-bottom: 80px;
}

.index-service{
  display: flex;
  align-items: center;
}

.index-service-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 64px;
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
  border-radius: 24px;
}

.index-service-content{
  width: 600px;
}

.index-service-title{
  margin-top: 0;
  margin-bottom: 24px;
  color: #222;
}

.index-service-description{
  margin: 0;
  color: #444;
}

.index-services-actions{
  display: flex;
  justify-content: center;
}

/* CTA */

.cta{
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #0EB4C1;
  color: #fff;
}

.cta-heading{
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: 'Open Sans Condensed', 'Open Sans', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 1.2;
}

.cta-links{
display: flex;
justify-content: center;
align-items: center;
}

.cta-links-item:not(:last-child){
  margin-right: 40px;
}

/* SITE-FOOTER */
.site-footer{
  padding-top: 24px;
  padding-bottom: 24px;
background-color: #222;
color: white;
}

.site-footer-container{
display: flex;
align-items: center;
justify-content: space-between;
}

.site-logo-site-footer{
  color: white;
}

.site-logo-site-footer:active{
color: #fff;
}

.site-nav-site-footer .sitenav-link{
  color: white;
}

.site-nav-site-footer .sitenav-link:hover{
  color: #DE2E54;
}

.site-nav-site-footer .sitenav-link:active{
  color: white;
  opacity: 0.6;
}